{% block content %} {% if messages %}
<div id="flash-messages">
  {% for message in messages %}
  <div>{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<div class="container">
  <div class="form-container">
    <h2>LOGIN</h2>

    <form method="POST" action="">
      {% csrf_token %}

      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </div>

      <!-- Remember Me -->
      <div class="form-group">
        <input type="checkbox" id="remember_me" name="remember_me" />
        <label for="remember_me">Remember me for 30 days</label>
      </div>

      <!-- Submit Button -->
      <div class="form-group">
        <button type="submit">Register</button>
      </div>

      <!-- Login & Cancel Links -->
      <div class="links">
        <p>Have no Account</p>
        <a href="{% url 'register' %}">register</a>
        <a href="{% url 'home' %}">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
